extends layout

block content
	header
		.nav
			.container
				.logo
					img(src="/images/icons/logo_sq-white.png")

		.container
			.row.justify-content-center
				.col-7
					h1.text-center Wij helpen piloten sneller en goedkoper van hun lening af te komen.